/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

/*Navigation bar contents
-----------------------------------------------------*/

/*Navbar contains name parent and child.*/
a.navbar-brand {
    white-space: normal;
    font-family: 'Pragati Narrow', sans-serif;
    font-size: large;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background for navbar */
a {
    color: mediumseagreen; /*link colors (Email, Privacy)*/
}

    /*No underline for hyperlinks  */
    a:link {
        text-decoration: none;
    }

/*Navbar background color*/
.navbar {
    background-color: #2b2a2a;
}

/*NavBar header Name large text*/
.parent {
    font-size: 44px;
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: 700;
    letter-spacing: 2px;
    transform: scale(1.0)
}

/*NavBar header name description (i.e., software engineer, etc)*/
.child {
    padding: 1px 1px 1px 1px;
    text-align: match-parent;
    font-family: 'Pragati Narrow', sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
    transform: scale(1.0)
}

.btn-primary {
    color: #1b6ec2;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.navbar-section > li.nav-item {
    color: red;
}

/*Navbar items*/
.navbar-section {
    color: whitesmoke;
}
/*Enlarge on hover*/
.nav-item:hover {
    transform: scale(1.05);
}

/* Home page
-----------------------------------------------------*/
.home-row:after {
    content: "";
    display: table;
    clear: both;
}

.home-left {
    float: left;
    width: 60%;
    padding-right: 10px;
    text-align: justify;
}

.home-right {
    float: left;
    position: relative;
    width: 40%;
    padding-left: 20px;
}

.learn-more {
    text-align: right;
}

    .learn-more a.nav-link:hover {
        transform: skew(-10deg);
    }

.content {
    width:100%;
    text-align: justify;
}

/* Experience page
-----------------------------------------------------*/

.experience-body, .doj, .contractor {
    text-align:justify;
}


/* Education page
-----------------------------------------------------*/
.education-row:after {
    content: "";
    display: table;
    clear: both;
}

.education-left {
    float: left;
    width: 60%;
    padding-bottom:0;
    text-align: justify;
}



/* Contact page
-----------------------------------------------------*/
.contact-row:after {
    content: "";
    display: table;
    clear: both;
}

.contact-left {
    float: left;
    width: 30%;
    padding-right: 10px;
    text-align: justify;
}

.contact-middle {
    float: left;
    width: 20%;
    min-width: 20px;
    min-height: 20px;
}

.contact-right {
    float: left;
    width: 50%;
    padding-left: 10px;
}

/* Dynamic display of columns from
    horizontal to vertical if width narrow.*/
@media screen and (max-width: 600px) {
    .contact-left {
        width: 100%;
    }

    .contact-middle {
        width: 100%;
    }

    .contact-right {
        width: 100%;
    }
}

.email {
    padding-top: 0px;
}

.links { /*img links (LinkdIn, Github, etc.)*/
    font-size: 22px;
    /*    float:left;*/
}

/* Privacy Tab
-----------------------------------------------------*/
.privacy-row:after {
    content: "";
    display: table;
    clear: both;
}

.privacy-left {
    text-align: justify;
    float: left;
    width: 45%;
    background-color: whitesmoke;
}

.privacy-right {
    /*put an image in here*/
    width: 55%;
}

/* Sticky footer styles
-----------------------------------------------------*/
html {
    font-size: 18px;
}

@media (min-width: 768px) {
    html {
        font-size: 22px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/*General Body
-----------------------------------------------------*/
html {
    position: relative;
    min-height: 100%;
    font-family: 'Pragati Narrow', sans-serif;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
    font-family: 'Pragati Narrow', sans-serif;
    letter-spacing: 1px;
    background-color: whitesmoke; /*Body color*/
}

.footer {
    background-color: #2b2a2a;
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
    font-family: 'Pragati Narrow', sans-serif;
}

.footer-msg {
    color: whitesmoke;
}