@page
@model PortfolioWeb.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1> @ViewData["Title"]</h1>

<div class="container contact" style="padding-left:inherit">

    <div class="contact-row">
        <div class="contact-left">
            <div class="email">
                <p>
                    <h4>Email</h4>
                    Contact me at: <br />
                    <a href="mailto:adamkclifton@gmail.com">adamkclifton@gmail.com</a>
                </p>
            </div>
            <div class="links">
                <h4>Links</h4>
                <div class="links-icons">
                    <!--LinkedIn-->
                    <a class="linkedin" href="https://www.linkedin.com/in/adam-clifton-4bb107b3/" 
                       style="color: #0094ff" target="_blank" rel="noopener noreferrer" alt="LinkedIn">
                        <i class="fab fa-linkedin fa-3x" alt="LinkedIn"></i>
                    </a>
                    <!--Github-->
                    <a class="github" href="https://github.com/akclifto" 
                       style="color: #343a40" target="_blank" rel="noopener noreferrer" alt="Github">
                        <i class="fab fa-github-square fa-3x" alt="Github"></i>
                    </a>

                </div>
            </div>
        </div>
        <div class="container">
            <div class="contact-middle">
                <!--Buffer zone-->
            </div>
        </div>
        <div class="contact-right">
            <p>
                <h4 class="text-md-left">Send me an Email</h4>
                Under Construction: make a contact submission that emails me. <br />
                LAYOUT:<br />
                Name: --Text box to type-- <br />
                Organization: --Text box to type -- <br />
                Brief Message: --larger box to write a message -- <br />
                Submit Button | Clear Button<br />
            </p>
        </div>
    </div>
</div>