@page
@model PortfolioWeb.Pages.ContactModel
@{
    ViewData["Title"] = "Contact Me";
}
    <h1 style="text-align:center"> @ViewData["Title"]</h1>

    <div class="contact-row">
        <div class="contact-left">
            a short blurb about contacting me. <br />
            use adamkclifton@gmail email.
        </div>
        <div class="contact-middle">
            middle:  this section will be empty.  Used as buffer.
        </div>
        <div class="contact-right">
            <p>
                See me an email! <br />
                TODO: make a contact submission that emails me. <br />
                LAYOUT:<br />
                Name: --Text box to type-- <br />
                Organization: --Text box to type -- <br />
                Brief Message: --larger box to write a message -- <br />
                Submit Button <br />
            </p>
        </div>


    </div>
