@page
@model PortfolioWeb.Pages.ContactModel
@{
    ViewData["Title"] = "Contact";
}
<h1> @ViewData["Title"]</h1>

<div class="contact-row">
    <div class="contact-left">
        <div class="Email">
            <p>
                <h4>Email</h4>
                Contact me at: <br />
                <a href="mailto:adamkclifton@gmail.com">adamkclifton@gmail.com</a>
            </p>
        </div>
        <div class="Links">
            <h4>Links</h4>


        </div>
        a short blurb about contacting me. <br />
        use gmail email.
    </div>
    <div class="container">
        <div class="contact-middle">

        </div>
    </div>
    <div class="contact-right">
        <p>
            <h4 class="text-md-left">Send me an Email</h4>
            TODO: make a contact submission that emails me. <br />
            LAYOUT:<br />
            Name: --Text box to type-- <br />
            Organization: --Text box to type -- <br />
            Brief Message: --larger box to write a message -- <br />
            Submit Button <br />
        </p>
    </div>




</div>
