@page
@model PortfolioWeb.Pages.Index1Model
@{
    ViewData["Title"] = "Education";
}

<h1>@ViewData["Title"]</h1>

<div class=" container education">

    <div class=" education-row">
        I am currently enrolled at Arizona State University pursuing a <b>B.S. Software Engineering.</b>
        <div class=" educaton-list">
            <h5>University: Arizona State University</h5>
            <h5>School: Ira A. Fulton Schools of Engineering</h5>
            <h5>GPA: 3.82 out of a maximum of 4.0</h5>
            <h5>Expected Graduation: May 2021</h5>
        </div>
        <div class="education-image">
            <img src ="~/images/ASU Fulton Logo.png" 
                 style="float:left; width:auto; padding-left:20px; position:relative"/>
        </div>
    </div>
</div>

