@page
@model PortfolioWeb.Pages.Index1Model
@{
    ViewData["Title"] = "Arizona State University";
}

<h1>@ViewData["Title"]</h1>

<p>

    Placeholder for Transcripts, to include: <br />
    Deeper dive into education, load of dynamic webpage info <br />
    Link/display of transcripts <br />  
    GPA <br />
    Expected Graduation <br />
    

</p>
