@page
@model PortfolioWeb.Pages.Index1Model
@{
    ViewData["Title"] = "Education";
}

<h1>@ViewData["Title"]</h1>

<p>
    I am on track to graduate in May 2021 from Arizona State University with a B.S. Software Engineering.


    
</p>