@page
@model PortfolioWeb.Pages.Index1Model
@{
    ViewData["Title"] = "Education";
}


<div class="container education" style="padding-left:inherit">

    <h1>@ViewData["Title"]</h1>
    <div class="education-body" style="text-align:justify">
        I am currently enrolled at Arizona State University pursuing a <b>B.S. Software Engineering.</b>
        <br />Click or tap below for more information:
        <br /><br />
    </div>
    <div class="education-row">
        <div class="edu-panel">
            <div class="edu-img">
                <img src="~/images/ASU Fulton Logo.webp"
                     style="border-radius:0%; max-height:90px" alt="ASU Fulton School Logo" />
            </div>
        </div>
        <div class="panel-container">
            <div class="education-left">
                <ul style="padding-left:1em">
                    <li><b>School:</b> Ira A. Fulton Schools of Engineering</li>
                    <li><b>Degree:</b> B.S. Software Engineering</li>
                    <li><b>GPA:</b> 3.82 out of a maximum of 4.0</li>
                    <li><b>Expected Graduation:</b> May 2021</li>
                    <li><b>Transcripts:</b><a href="~/data/Transcripts 2020.08.pdf" 
                           target="_blank" rel="noopener noreferrer"> View Current Transcripts</a></li>
                </ul>
            </div>

        </div>
        <div class="edu-panel">
            <div class="edu-img">
                <img src="~/images/UP Logo.png"
                     style="border-radius:0%; max-height:100px" alt="Univ of Phoenix Logo"/>
            </div>
        </div>
        <div class="panel-container">
            <div class="education-left">
                <ul style="padding-left:1em">
                    <li><b>Degree:</b> A.A. Psychology</li>
                    <li><b>GPA:</b> 3.73 out of a maximum of 4.0</li>
                    <li><b>Graduated:</b> March 2011</li>
                </ul>
            </div>
        </div>
    </div>
</div>

