@page
@model IndexModel
@{
    ViewData["Title"] = "Who Am I";
}

<div class="text-md-left">
    <h1> @ViewData["Title"]</h1>
    <p>
        This is where my summary will go, check from resume.
    </p>

    <p>
        WHO AM I will be the only visible thing on the splash page. <br />

        include links to: <br />
        (1) education <br />
        (2) professional exp <br />
        (3) Additional skillsets <br />
        (4) Contact (maybe just an email link)

    </p>
</div>
