@page
@model IndexModel
@{
    ViewData["Title"] = "Adam Clifton: Software Engineering";
}

<div class="container" style="padding-left:inherit">

    <h1> Who I Am</h1>
    <div class="home-row">
        <div class="home-left">

            Welcome to my web portfolio! My name is Adam Clifton.
            I am an ambitious professional aspiring to develop a long-term career in the field of
            technology.
            I have the proven ability to work well under pressure, independently or as part of
            a team.
            I communicate effectively and personably with both coworkers and clients.

            <br /><br />
            I am a current student at Arizona State University developing software
            engineering skills, and
            I continue to build on my knowledge of programming logic, design process
            and patterns, structure implementation, software/system analysis,
            agile and scrum workflow,
            and quality assurance.

            <br /><br />
            I have a sincere interest and passion for technology
            and am committed to expanding my knowledge and expertise in the ever-evolving field.
            <br /><br />

        </div>
        <div class="home-right">
            <!--professional image to go here-->
            <img src="~/images/573.jpeg" style="max-width:400px; height:auto; border-radius:30%" alt="pic of me" />
            @*<img src="https://i.redd.it/xgorxiy1z4s11.png" />*@ <!--test placeholder -->
        </div>
    </div>
</div>

@* This entire container will need to change and become dynamic.
    Hardcoding now just to have something. *@
<div class="container" style="padding-left:inherit">

    <div class="education-home">
        <div class="panel">
            <h4>Education</h4>

        </div>
        <div class="panel-container">
            I am pursuing a Bachelor's of Science in Software Engineering
            at Arizona State University's Ira A. Fulton Schools of Engineering,
            and am on track to graduate May 2021.
            <div class="learn-more">
                <a class="nav-link" asp-area="" asp-page="/Education">&lt...Learn More...&gt</a>
            </div>
        </div>
    </div>

    <div class="professional-home">
        <div class="panel">
            <h4>Professional Experience</h4>

        </div>
        <div class="panel-container">
            I worked in legal field at the United States Department of Justice
            for 10 years in various capacities.  In January 2017, I began my journey to move
            toward a career change into software engineering.
            <div class="learn-more">
                <a class="nav-link" asp-area="" asp-page="/Professional">&lt...Learn More...&gt</a>
            </div>
        </div>
    </div>

    <div class="skillset-home">
        <div class="panel">
            <h4>Skillsets</h4>

        </div>
        <div class="panel-container">
            I have been developing and improving skills in programming logic, OOP,
            design process and patterns, structure implementation, adhering to SDLC and MVC principles,
            software/system analysis, agile and scrum process flow, and quality assurance.

            <br /><br />
            I am continuing to use and gain proficiency in Java, C, C++, and C# languages, and use with
            query languages in MySQL and Microsoft SQL Server. Moreover, I am working on growing my
            proficiency integrating it all with Client-facing frameworks ASP.NET, XML, HTML,
            and Javascript.
            <br /><br />
        </div>
    </div>

    <div class="projects-home">
        <div class="panel">
            <h4>Projects</h4>
        </div>
        <div class="panel-container">
            I have worked on a variety of school-related projects and 
            personal projects to improve my development skills. 
            In fact, you're looking at one of those projects now :)
            <div class="learn-more">
                <a class="nav-link" asp-area="" asp-page="/Projects">&lt...Learn More...&gt</a>
            </div>
        </div>
    </div>

    <div class="contact-home">
        <div class="panel">
            <h4>Contact</h4>

        </div>
        <div class="panel-container">
            <a href="mailto:adamkclifton@gmail.com">Shoot me an email</a> or
            head over to the
            <span>
                <a href="/Contact">Contact Page</a>
            </span>
            for Links and more information.
        </div>
    </div>
</div>