@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>This website is used for my personal job search.  All the work here is my own, including the web client which was built with ASP.NET in VisualStudio.<br />
    <br />
    If you are a prospective employee looking to build a portfolio, please use design ideas if you like them. <br />
    Otherwise, don't steal from me and don't pretend you are me.  This should be self-evident :)</p>
