@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}


<div class="container">
    <h1>@ViewData["Title"]</h1>
    <div class="privacy-row">
        <div class="privacy-left">
            This website is used for my personal portfolio.
            All the work here is my own, including the web client which was built with ASP.NET in VisualStudio.<br />
            No thievery please :)
        </div>
    </div>
</div>

