@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>
    This website is used for my personal portfolio.  
    All the work here is my own, including the web client which was built with ASP.NET in VisualStudio.<br />
    No thievery please :)
</p>
