@page
@model PortfolioWeb.Pages.ProfessionalModel
@{
    ViewData["Title"] = "Professional Experience";
}


<div class=" container experience" style="padding-left:inherit">

    <h1>@ViewData["Title"]</h1>


    <div class="experience-body">

    </div>
    <div class="doj">
        <h5>Department of Justice | United States Attorney's Office | District of Arizona</h5>
        <ul style="padding:0px; list-style:none">
            <li><b>Position: </b>Lead Legal Assistant</li>
            <li><b>Date Range: </b>December 2014 - May 2020</li>
            <li><b>Full-time: </b>40 Hours per Week</li>
            <li><b>Duties:</b></li>
        </ul>
        <ul style="padding:0px; text-align:justify">
            <li></li>

        </ul>

    </div>
    <div class="contractor">
        <h5>Career Management Associates</h5>
    </div>
    <div class="pak">

    </div>


</div>
