@page
@model PortfolioWeb.Pages.ProfessionalModel
@{
    ViewData["Title"] = "Professional Experience";
}


<div class=" container experience" style="padding-left:inherit">

    <h1>@ViewData["Title"]</h1>


    <div class="experience-body" style="border-bottom:groove">
        I have gained experience learning from and interacting with other 
        professionals in the legal field for 10 years.  Here, I learned valuable 
        skills in terms of time and resource management, education and training, 
        communication, and troubleshooting techniques.  
        I am now pursuing the next adventure and challenge in my
        professional career in technology and software. 
        <br /><br />
    </div>
    <div class="doj" 
         style="padding-top:1em; padding-bottom:1em; 
                border-top:groove; border-bottom:groove">
        <h5>Department of Justice | United States Attorney's Office | District of Arizona</h5>
        <ul style="padding:0px; list-style:none">
            <li><b>Position: </b>Lead Legal Assistant</li>
            <li><b>Employed: </b>December 2014 - May 2020</li>
            <li><b>Full-time: </b>40 Hours per Week</li>
            <li><b>Duties:</b></li>
        </ul>
        @* just dump for now, will fix up later. *@
        <ul style="text-align:justify">
            <li>Provide direct administrative and legal support services for attorneys and support staff in the fast-paced criminal division. Examine and prepare: technical legal documents, trial preparation and execution, maintain supplies and equipment, records, office hardware and software, and conduct office automation.</li>
            <li>Maintain projects and analyze electronic databases and directories: CaseMap, LIONS, CaseView, Microsoft Access, Microsoft SharePoint, IPRO, and Microsoft Excel.  Well-versed in Microsoft Office and Adobe Acrobat Professional. Assist in special work projects: bolster software technology improvements including the facilitation of USAfx, a cloud-sharing service. Provide advice and assistance on processing methods and improvements, file design, organization, access methods, security requirement, and associated software and utility programs.  </li>
            <li>Exercise sound, working knowledge of unit priorities, goals and objectives, and work across boundaries to cooperate with team members, clients, managers, groups, and organizations to achieve objectives.  Perform hardware and software installation and maintenance and provide user support of known hardware and software systems, diagnose and resolve problems in response to reported co-worker or attorney incidents.</li>
        </ul>

    </div>
    <div class="contractor"
         style="padding-top:1em; padding-bottom:1em;
                border-top:groove; border-bottom:groove">
        <h5>Career Management Associates</h5>
        <ul style="padding:0px; list-style:none">
            <li><b>Position: </b>Lead Legal Assistant</li>
            <li><b>Employed: </b>December 2014 - May 2020</li>
            <li><b>Full-time: </b>40 Hours per Week</li>
            <li><b>Duties:</b></li>
        </ul>
    </div>
    <div class="pak"
         style="padding-top:1em; padding-bottom:1em;
                border-top:groove; border-bottom:groove">
        <h5>Pak &amp; Moring PLC</h5>
        <ul style="padding:0px; list-style:none">
            <li><b>Position: </b>Lead Legal Assistant</li>
            <li><b>Employed: </b>December 2014 - May 2020</li>
            <li><b>Full-time: </b>40 Hours per Week</li>
            <li><b>Duties:</b></li>
        </ul>

    </div>
    <div class="">

    </div>


</div>
