@page
@model PortfolioWeb.Pages.ProfessionalModel
@{
    ViewData["Title"] = "Professional Experience";
}


<div class="container experience" style="padding-left:inherit">

    <h1>@ViewData["Title"]</h1>


    <div class="experience-body">
        I have gained experience learning from and interacting with other
        professionals in the legal field for 10 years.  Here, I learned valuable
        skills in terms of time and resource management, education and training,
        communication, and troubleshooting techniques.
        I am now pursuing the next adventure and challenge in my
        professional career in the field of technology and software.
        <br /><br />
    </div>

    <div class="doj">
        <div class="panel">
            <h5 style="padding-left:3px">Department of Justice | United States Attorney's Office | District of Arizona</h5>
            <div class="exp-position">
                Lead Legal Assistant    |   December 2014 - May 2020
            </div>
        </div>
        <div class="panel-container">
            <ul style="padding:0px; list-style:none">
                <li><b>Full-time: </b>40 Hours per Week</li>
                <li><b>Duties:</b></li>
            </ul>
            @* just dump for now, will fix up later. *@
            <ul style="text-align:justify">
                <li>Provide direct administrative and legal support services for attorneys and support staff in the fast-paced criminal division. Examine and prepare: technical legal documents, trial preparation and execution, maintain supplies and equipment, records, office hardware and software, and conduct office automation.</li>
                <li>Maintain projects and analyze electronic databases and directories: CaseMap, LIONS, CaseView, Microsoft Access, Microsoft SharePoint, IPRO, and Microsoft Excel.  Well-versed in Microsoft Office and Adobe Acrobat Professional. Assist in special work projects: bolster software technology improvements including the facilitation of USAfx, a cloud-sharing service. Provide advice and assistance on processing methods and improvements, file design, organization, access methods, security requirement, and associated software and utility programs.  </li>
                <li>Exercise sound, working knowledge of unit priorities, goals and objectives, and work across boundaries to cooperate with team members, clients, managers, groups, and organizations to achieve objectives.  Perform hardware and software installation and maintenance and provide user support of known hardware and software systems, diagnose and resolve problems in response to reported co-worker or attorney incidents.</li>
            </ul>
        </div>
    </div>

    <div class="pak">
        <div class="panel">
            <h5 style="padding-left:3px">Pak &amp; Moring PLC</h5>
            <div class="exp-position">
                Parelegal    |   May 2014 - December 2014
            </div>
        </div>
        <div class="panel-container">
            <ul style="padding:0px; list-style:none">
                <li><b>Full-time: </b>Salary</li>
                <li><b>Duties:</b></li>
            </ul>

            <ul style="text-align:justify">
                <li>Provide technical, advisory and support assistance to four staff attorneys whose caseload included personal injury, bankruptcy, insurance claims, and real estate.  Examine and prepare legal documents: settlement agreements, plea agreements, demand letters, exhibit assembly, affidavits, motions, discovery, lien reductions and correspondence. Handle all support services: calendaring, docketing, filing, case, communications services and changes, teleconferencing, and provide support in information management and maintaining network architecture and infrastructure.  </li>
                <li>Manage all office equipment, including installing, configuring, troubleshooting, and maintaining customer hardware and software, and resolving any hardware/software interface and interoperability problems.  Assist in monitoring functionality, security, and integrity of internet services.  </li>
                <li>Creation and management of in-house database for case information:  two-hundred fifty (250) active cases.  Implement policies and procedures to ensure information system reliability. Direct interaction with clients, opposing counsel, medical providers, claims examiners and agents, expert and lay witnesses.</li>
            </ul>
        </div>
    </div>

    <div class="contractor">
        <div class="panel">
            <h5 style="padding-left:3px">Career Management Associates</h5>
            <div class="exp-position">
                Contract Legal Assistant    |   August 2011 - May 2014
            </div>
        </div>
        <div class="panel-container">
            <ul style="padding:0px; list-style:none">
                <li><b>Location: </b>Unites States Attorney's Office | District of Arizona</li>
                <li><b>Full-time: </b>40 Hours per Week</li>
                <li><b>Duties:</b></li>
            </ul>

            <ul style="text-align:justify">
                <li>Provide administrative and legal support services for attorneys and support staff in the civil division at the United States Attorney’s Office in areas which include medical malpractice, defensive tort actions, bankruptcy and affirmative civil enforcement. Handle mail, records, travel, technology software and hardware assistance, communication services, and conference calls.</li>
                <li>Analyze and organize large discovery projects, medical releases and subpoenas, and a wide variety of legal pleadings and documents. Research with a variety of legal sources: Westlaw, Lexis-Nexis, public records, court records, profile background checks.  </li>
                <li>Develop guides: IPRO E-Scan-IT and IPRO Viewer for internal use.  </li>

            </ul>
        </div>
    </div>

    <div class="student">
        <div class="panel">
            <h5 style="padding-left:3px">Department of Justice | United States Attorney's Office</h5>
            <div class="exp-position">
                Student Clerk    |   September 2010 - August 2011
            </div>
        </div>
        <div class="panel-container">
            <ul style="padding:0px; list-style:none">
                <li><b>Part-time: </b>20-40 Hours per Week</li>
                <li><b>Duties:</b></li>
            </ul>

            <ul style="text-align:justify">
                <li>Provide administrative and support services for up to 15 attorneys and nine support staff.</li>
                <li>Office automation: technology hardware, software, and equipment, Microsoft Office, mail production, reproduction, records, and communication software services for reception.</li>
                <li>Administrative support activities: clerical tasks, office inventory management, reorganization, space management, case information management, and courier services.</li>
            </ul>
        </div>
    </div>
</div>
