@page
@model PortfolioWeb.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}


<div class="container projects" style="padding-left:inherit">

    <div style="text-align:justify">
        <h1>@ViewData["Title"]</h1>
        Coursework from ASU and personal projects have allowed me to develop skills in diverse areas
        with a variety of design techniques. Below are some notable projects and skills acquired:
        <br /><br />
    </div>

    <div class="container" style="padding-left:inherit">

        <div>
            <div class="project-cLeft">
                <h4 class="project-head">Project Name</h4>
            </div>
            <div class="project-cRight">
                <h4 class="project-head">What I Learned</h4>
            </div>
            <br />
        </div>


        <div class="projects">

            <div class="panel">
                <div class="project-name">This Web Portfolio</div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">
                        <li>A web-based portfolio and resume for job searching.</li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">
                        <li>Fundamentals and development with ASP.NET</li>
                        <li>Development with HTML and CSS</li>
                        <li>Development with Javascript</li>
                        <li>Fundamental use of MVC</li>
                        <li>C# integration with web-based applications</li>
                        <li>Strengthened document control use with Git and Github</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="projects">

            <div class="panel">
                <div class="project-name">Distributed Media Player</div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">
                        <li>A distributed media player GUI using server/ client remote proctor service. </li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">
                        <li>Strengthened development with Java OOP</li>
                        <li>Development with Sockets, Threads, and Protocols</li>
                        <li>Skeleton/ stub creation for client/ server</li>
                        <li>Development with C++</li>
                        <li>Development with JSON and XML for storage and build files</li>
                        <li>Building JSON serializer/ deserializer in Java and C++</li>
                        <li>Development using Debian/ Ubuntu Linux environment</li>
                        <li>Using tools including curlpp and ant</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>