@page
@model PortfolioWeb.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}


<div class="container projects" style="padding-left:inherit">

    <div style="text-align:justify">
        <h1>@ViewData["Title"]</h1>
        Coursework from ASU and personal projects have allowed me to develop skills in diverse areas
        with a variety of design techniques. Below are some notable projects and skills acquired:
        <br /><br />
    </div>

    <div class="container" style="padding-left:inherit">

        <div>
            <div class="project-cLeft">
                <h4 class="project-head">Project Name</h4>
            </div>
            <div class="project-cRight">
                <h4 class="project-head">What I Learned</h4>
            </div>
            <br />
        </div>
    </div>

    <div class="container" style="padding-left:inherit">

        <div class="projects">

            <div class="panel">
                <div class="project-name">This Web Portfolio</div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">
                        <li>A web-based portfolio to highlight resume and skill attributes.</li>
                        <li>Implements a website designed and built by me with ASP.NET</li>
                        <li>
                            <a href="https://github.com/akclifto/PortfolioWeb" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">
                        <li>Fundamentals and development with ASP.NET</li>
                        <li>Development with HTML and CSS</li>
                        <li>Development with Javascript</li>
                        <li>Fundamental use of MVC</li>
                        <li>C# and .NET integration with web-based applications</li>
                        <li>Strengthened source control use with Git and Github</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="projects">

            <div class="panel">
                <div class="project-name">Distributed Media Player</div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">
                        <li>A distributed media player.</li>
                        <li>Implements a GUI using server/ client remote proctor service. </li>
                        <li>
                            <a href="https://github.com/akclifto/MediaPlayer" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a> - Java implementation
                        </li>
                        <li>
                            <a href="https://github.com/akclifto/MediaPlayercpp" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a> - C++ implementation
                        </li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">
                        <li>Strengthened development with Java OOP</li>
                        <li>Development with Sockets, Threads, and Protocols</li>
                        <li>Skeleton/ stub creation for client/ server</li>
                        <li>Development with C++</li>
                        <li>Development with JSON and XML for storage and build files</li>
                        <li>Building JSON serializer/ deserializer in Java and C++</li>
                        <li>Development using Debian/ Ubuntu Linux environment</li>
                        <li>Use of tools such as curlpp and ant</li>
                        <li>Third-Party API integration: OMDb API</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="projects">

            <div class="panel">
                <div class="project-name">Database Application Service</div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">
                        <li>Implements a console database application with SQL and Java</li>
                        <li>Team-Based, Agile/SCRUM process flow.</li>
                        <li>
                            <a href="https://github.com/akclifto/SER322_Team2_Db_Application" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">
                        <li>Strengthened development with Java OOP</li>
                        <li>Development with SQL, using MySQL console client</li>
                        <li>Use of integration tools: JDBC and MySql Connector</li>
                        <li>Design modelling with UML, EER and Relational diagrams</li>
                        <li>Script implementation to instantiate and populate databases</li>
                        <li>Use of common sequal command queries (select, update, drop table, create table, 
                            insert into, alter table, join variations, count, etc.)</li>
                    </ul>
                </div>
            </div>
        </div>


    </div>

</div>