@page
@model PortfolioWeb.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}


<div class="container projects" style="padding-left:inherit">

    <div style="text-align:justify">
        <h1>@ViewData["Title"]</h1>
        Coursework from ASU and personal projects have allowed me to develop skills in diverse areas
        with a variety of design techniques. Below are some notable projects and skills acquired:
        <br /><br />
    </div>

    <div class="project-row">
        <h4>School Projects</h4>

        <div class="project-left">

        </div>

        <div class="project-right">

        </div>
    </div>

    <div class="project-row">
        <h4>Personal Projects</h4>

        <div class="project-left">
            <h5>test left</h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et lorem nec metus iaculis pulvinar. Integer enim tellus, lacinia vitae tempor aliquet, efficitur in diam. Praesent ullamcorper id dui eget rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum at libero lacus. Aliquam arcu est, imperdiet sit amet mauris id, dapibus varius odio. Nulla non justo ut metus ornare molestie id id libero. Aenean rutrum posuere maximus. Nulla interdum ipsum neque, nec mattis sem malesuada at. Nulla rhoncus lorem et tempor tempor. Donec aliquam egestas leo. Cras vel erat volutpat magna consequat laoreet sed nec elit. Aliquam iaculis nisi augue, sed hendrerit eros aliquet a.
            Pellentesque vestibulum dolor libero. Etiam lacinia rhoncus vehicula. Morbi vitae pretium orci. Nulla consectetur odio lacus, feugiat eleifend est fermentum ac. Pellentesque rhoncus ex dui. Sed neque massa, euismod nec ornare id, egestas nec lectus. Vivamus ac fermentum erat.
        </div>

        <div class="project-right">
            <h5>test right</h5>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et lorem nec metus iaculis pulvinar. Integer enim tellus, lacinia vitae tempor aliquet, efficitur in diam. Praesent ullamcorper id dui eget rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum at libero lacus. Aliquam arcu est, imperdiet sit amet mauris id, dapibus varius odio. Nulla non justo ut metus ornare molestie id id libero. Aenean rutrum posuere maximus. Nulla interdum ipsum neque, nec mattis sem malesuada at. Nulla rhoncus lorem et tempor tempor. Donec aliquam egestas leo. Cras vel erat volutpat magna consequat laoreet sed nec elit. Aliquam iaculis nisi augue, sed hendrerit eros aliquet a.
            Pellentesque vestibulum dolor libero. Etiam lacinia rhoncus vehicula. Morbi vitae pretium orci. Nulla consectetur odio lacus, feugiat eleifend est fermentum ac. Pellentesque rhoncus ex dui. Sed neque massa, euismod nec ornare id, egestas nec lectus. Vivamus ac fermentum erat.
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris et lorem nec metus iaculis pulvinar. Integer enim tellus, lacinia vitae tempor aliquet, efficitur in diam. Praesent ullamcorper id dui eget rutrum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum at libero lacus. Aliquam arcu est, imperdiet sit amet mauris id, dapibus varius odio. Nulla non justo ut metus ornare molestie id id libero. Aenean rutrum posuere maximus. Nulla interdum ipsum neque, nec mattis sem malesuada at. Nulla rhoncus lorem et tempor tempor. Donec aliquam egestas leo. Cras vel erat volutpat magna consequat laoreet sed nec elit. Aliquam iaculis nisi augue, sed hendrerit eros aliquet a.
            Pellentesque vestibulum dolor libero. Etiam lacinia rhoncus vehicula. Morbi vitae pretium orci. Nulla consectetur odio lacus, feugiat eleifend est fermentum ac. Pellentesque rhoncus ex dui. Sed neque massa, euismod nec ornare id, egestas nec lectus. Vivamus ac fermentum erat.
        </div>

    </div>



</div>