@page
@model PortfolioWeb.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}


<div class="container projects" style="padding-left:inherit">

    <div style="text-align:justify">
        <h1>@ViewData["Title"]</h1>
        Coursework from ASU and personal projects have allowed me to develop skills in diverse areas
        with a variety of design techniques. Below are some notable projects and skills acquired:
        <br /><br />
    </div>

    <div class="container" style="padding-left:inherit">

        <div>
            <div class="project-cLeft">
                <h4 class="project-head">Project Name</h4>
            </div>
            <div class="project-cRight">
                <h4 class="project-head">What I Learned</h4>
            </div>
            <br />
        </div>
    </div>

    <div class="container" style="padding-left:inherit">

        <div class="projects">

            <div class="panel">
                <div class="project-name">This Web Portfolio <br />
                    <img src="~/images/cs_logo.png" style="max-height: 30px; padding-bottom: 4px" alt="csharp"/> | 
                    <i class="fab fa-html5" style="color:cornflowerblue; font-size:inherit" alt="html5"></i> | 
                    <i class="fab fa-css3-alt" style="color:blueviolet; font-size:inherit" alt="css"></i> | 
                    <i class="fab fa-js" style="color:forestgreen; font-size:inherit" alt="js"></i> 
                </div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">
                        <li>A web-based portfolio to highlight resume and skill attributes.</li>
                        <li>Purpose: Build an online portfolio with common web development tools and languages.</li>
                        <li>Implements a website designed and built by me with ASP.NET</li>
                        <li>
                            <a href="https://github.com/akclifto/PortfolioWeb" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">
                        <li>Fundamentals and development with ASP.NET</li>
                        <li>Development with HTML and CSS</li>
                        <li>Development with Javascript</li>
                        <li>Fundamental use of MVC</li>
                        <li>C# and .NET integration with web-based applications</li>
                        <li>Strengthened source control use with Git and Github</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="projects">

            <div class="panel">
                <div class="project-name">
                    Distributed Media Player <br />
                    <i class="fab fa-java" style="color:orangered; font-size:inherit" alt="java"></i> |
                    <img src="~/images/cpp_logo.png" style="max-height: 27px; position:center; padding-bottom: 4px" alt="cpp"/>
                </div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">
                        <li>A distributed media player with Java and C++</li>
                        <li>Purpose: Develop a distributed application with proper separation of client and server.</li>
                        <li>Implements a GUI using server/ client remote proctor service. </li>
                        <li>
                            <a href="https://github.com/akclifto/MediaPlayer" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a> - Java implementation
                        </li>
                        <li>
                            <a href="https://github.com/akclifto/MediaPlayercpp" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a> - C++ implementation
                        </li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">
                        <li>Strengthened development with Java OOP</li>
                        <li>Development with Sockets, Threads, and Protocols</li>
                        <li>Skeleton/ stub creation for client/ server</li>
                        <li>Development with C++</li>
                        <li>Development with JSON and XML for storage and build files</li>
                        <li>Building JSON serializer/ deserializer in Java and C++</li>
                        <li>Development using Debian/ Ubuntu Linux environment</li>
                        <li>Use of tools such as curlpp and ant</li>
                        <li>Third-Party API integration: OMDb API</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="projects">

            <div class="panel">
                <div class="project-name">Database Application Service <br />
                    <i class="fab fa-java" style="color:orangered; font-size:inherit" alt="java"></i> |
                    <img src="~/images/sql_logo.png" style="max-height: 25px; padding-bottom: 4px" alt="sql" />
                </div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">
                        <li>Implements a console database application with SQL and Java</li>
                        <li>Purpose: Develop skills with SQL and integration with common OOP language client.</li>
                        <li>Team-Based, Agile/SCRUM process flow.</li>
                        <li>
                            <a href="https://github.com/akclifto/SER322_Team2_Db_Application" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">
                        <li>Strengthened development with Java OOP</li>
                        <li>Development with SQL, using MySQL command line client</li>
                        <li>Integration tools: JDBC and MySql Connector</li>
                        <li>Design modelling with UML, EER and Relational diagrams</li>
                        <li>Script implementation to instantiate and populate databases</li>
                        <li>
                            Use of common sequal command queries (select, update, drop table, create table,
                            insert into, alter table, join variations, count, etc.)
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="projects">

            <div class="panel">
                <div class="project-name">Design Patterns Simulation: Heroes and Villains <br />
                    <i class="fab fa-java" style="color:orangered; font-size:inherit" alt="java"></i>
                </div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">
                        <li>Implements an console-based simulated scenario where heroes and villains fight it out for world domination.</li>
                        <li>Purpose: Use design patterns with proper separation and testing.</li>
                        <li>Gang of Four Design (GoF) Patterns with Java</li>
                        <li>
                            <a href="https://github.com/akclifto/heroesvillains" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">
                        <li>Strengthened development with Java OOP</li>
                        <li>Development with GoF design patterns: decorator, factory and mediator</li>
                        <li>Integration tool: Gradle</li>
                        <li>Unit Testing tools: JUnit (path/ branch coverage),
                            TravisCI, Checkstyle, and Spotbugs
                        </li>
                        <li>Code review techniques: static analysis, white/ black-box unit testing</li>
                        <li>Design modelling with UML</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="projects">

            <div class="panel">
                <div class="project-name">Manufacturing UI with Dynamic File Tree <br />
                    <img src="~/images/cs_logo.png" style="max-height: 30px; padding-bottom: 4px" alt="csharp" /> |
                    <img src="~/images/XamarinLogo.png" style="max-height: 41px; padding-bottom: 3px" alt="xaml" />
                </div>
            </div>

            <div class="panel-container">

                <div class="project-left">
                    <ul class="project-list">
                        <li>Implements and mock manufacturing UI and system file tree</li>
                        <li>Purpose: Learn the basics of WPF and Xamarin XAML to create UI applications</li>
                        <li>Implemented with C#, WPF and Xamarin</li>
                        <li>
                            <a href="https://github.com/akclifto/UIManf" target="_blank" rel="noopener noreferrer">
                                Link to Github source code.
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="project-right">
                    <ul class="project-list">
                        <li>Development with C#</li>
                        <li>Development with WPF, and XAML</li>
                        <li>Fundmental use of MVC to ensure proper separation</li>
                        <li>Static and Dynamic UI creation with XAML binding</li>
                    </ul>
                </div>
            </div>
        </div>

    </div>

</div>