@page
@model PortfolioWeb.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}


<div class="container projects" style="padding-left:inherit">

    <div style="text-align:justify">
        <h1>@ViewData["Title"]</h1>
        Coursework from ASU and personal projects have allowed me to develop skills in diverse areas
        with a variety of design techniques. Below are some notable projects and skills acquired:
        <br /><br />
    </div>

    @*<div>
        <h4>Personal Projects</h4>
        <div class="project-left">
            <h5 class="project-head">Project Name</h5>
        </div>
        <div class="project-right">
            <h5 class="project-head">What I Learned</h5>
        </div>
    </div>*@

    <div>
        <div class="project-left">
            <h4 class="project-head">Project Name</h4>
        </div>
        <div class="project-right">
            <h4 class="project-head">What I Learned</h4>
        </div>
        <br />

    </div>

    <div class="projects">

        <div class="panel">
            <div class="project-name">This Web Portfolio</div>
        </div>

        <div class="panel-container">

            <div class="project-left">
                <ul class="project-list">
                    <li>A web-based portfolio and resume for job searching.</li>
                </ul>
            </div>
            <div class="project-right">
                <ul class="project-list">
                    <li>Fundamentals and developer withASP.NET</li>
                    <li>Development with HTML and CSS</li>
                    <li>Development with Javascript</li>
                    <li>Fundamental use of MVC</li>
                    <li>C# integration with web-based applications.</li>
                </ul>
            </div>
        </div>

    </div>

</div>