@page
@model PortfolioWeb.Pages.ProjectsModel
@{
    ViewData["Title"] = "Projects";
}


<div class="container projects" style="padding-left:inherit">
    <h1>@ViewData["Title"]</h1>
     
    <div class="">
        <button class="list-group-item-dark" type="button" data-toggle="collapse"
                data-target=".education-left"
                aria-controls=".education-left" aria-expanded="false" aria-label="Toggler">
                <span class="navbar-toggler-icon"></span>
        </button>
    </div>
    Landing page for projects.

</div>