<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortfolioWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--Font from Google API-->
    <link href="https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap" rel="stylesheet">
    <!-- JQuery navbar color change.-->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha256-4+XzXVhsDmqanXGHaHvgh1gMQKX40OUvDEBTu8JcmNs="
            crossorigin="anonymous">

    </script>
</head>

<!--BODY -->
<body>
    <!--HEADER-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light primary-color box-shadow mb-4">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <div class="parent">Adam Clifton</div>
                    <div class="child">Software Engineering Student</div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <!--Home Landing Page-->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <!--Projects page for work related projects.-->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Projects">Projects</a>
                        </li>
                        <!--Transcripts Page-->
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Transcripts">Transcripts</a>
                        </li>
                        @* These need to move to contact page. *@
                        <!--LinkedIn Profile: open new tab-->
                        <!--<li class="nav-link">
        <a href="https://www.linkedin.com/in/adam-clifton-4bb107b3/" style="color: #343a40" target="_blank" rel="noopener noreferrer">LinkedIn Profile</a>
    </li>-->
                        <!--GitHub Profile: open new tab-->
                        <!--<li class="nav-link">
        <a href="https://github.com/akclifto" style="color: #343a40" target="_blank" rel="noopener noreferrer">Github Profile</a>
    </li>-->
                        <!--Contact info: will be an email-->
                        <li>
                            <!--Undecided how to implement this-->
                            <a class="nav-link text-dark" asp-area="" asp-page="/Contact">Contact and Links</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--FOOTER-->
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - Adam Clifton - <a asp-area="" asp-page="/Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
