<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PortfolioWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!--links from Google API, Font Awesome-->
    <link href="https://fonts.googleapis.com/css2?family=Pragati+Narrow:wght@400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/66f7bb8787.js" crossorigin="anonymous"></script>
</head>

<!--BODY -->
<body>
    <!--HEADER-->
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark box-shadow mb-4">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index">
                    <div class="parent">Adam Clifton</div>
                    <div class="child">Software Engineering Student</div>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="navbar-section navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <!--Home Landing Page-->
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                        </li>
                        <!--Projects page for work related projects.-->
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Projects">Projects</a>
                        </li>
                        <!--Transcripts Page-->
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-page="/Transcripts">Transcripts</a>
                        </li>
                        <li class="nav-item">
                        <!--Contact Page-->
                            <a class="nav-link text-light" asp-area="" asp-page="/Contact">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--FOOTER-->
    <footer class="border-top footer text-muted">
        <div class="container">
            <div class="footer-msg">
                &copy; 2020 - Adam K. Clifton - <a asp-area="" asp-page="/Contact">Contact</a> - 
                <a asp-area="" asp-page="/Privacy">Privacy</a>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>

</html>
